body{
    background-color: #efefbb;
    color: white;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, rgb(197,230,236), rgb(239,187,230));
}

.container{
    padding: 40px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 54px;
}

.cartao{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    border: white solid 2px;
    width: 200px;
    height: 200px;
    text-align: center;
}